<% if (errors.length > 0) { %> 
    <div class="alert alert-danger">
        <% errors.forEach(erro => { %> 
            <%= erro %><br> 
       <% });%> 
    </div>
<% } %> 

<% if (accountSuccess.length > 0) { %> 
    <div class="alert alert-success">
        <% accountSuccess.forEach(success => { %> 
            <%= success %><br> 
       <% });%> 
    </div>
<% } %> 