<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Sua agenda está abaixo.</p>
        <div class="row">
          <div class="col my-3">
            <div class="responsive-table">
              <table class="table my-3">
                <tr>
                  <th>Nome</th>
                  <th>Sobrenome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                </tr>
                <tr>
                  <td>Igor</td>
                  <td>Tiburcio</td>
                  <td>igor.tiburcio.cs@gmail.com</td>
                  <td>(81)99506-9429</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
<%- include('includes/footer.ejs') %>